.game-body {
    background-color: #0C0F20;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-game {
    width: 1500px;
    /*     display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: 450px; */
    gap: 50px;
    justify-content: center;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    display: flex;
    flex-direction: row;
}

.list-game .item img {
    overflow: hidden;
    /*     margin-top: 150px; */
    width: 250px;
    height: 250px;
    /*     width: 100%;
    height: 100%; */
    border-radius: 20px;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;

}

.list-game .item:hover img {
    transform: scale(1.2);
}

.list-game .item {
    color: #c7c3c3;
    font-family: Poppins;
    position: relative;
    transition: 0.5s;
}

.list-game .item .content {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 20px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    align-items: center;
    text-align: center;

    padding-bottom: 170px;
    text-align: center;
}

.list-game .item:hover .content {
    opacity: 1;
    transform: translateY(0);
}

.list-game:hover .item:not(:hover) {
    filter: blur(8px);
}

.item .h1 .a {
    border-bottom: 1px solid transparent;
    color: #fff;
    text-align: center;
    font-size: 17px;
    text-align: center;

}